files:
  /etc/nginx/conf.d/01_proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
          if ($http_x_forwarded_proto = "http") {
              return 301 https://$host$request_uri;
          }

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"