version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/ktnyt/imascg
    steps:
      - checkout
      - run: go get -d -t -u ./...
      - run: go test ./rest
			- run: go build -o bin/application ./cmd/imascg
